* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --color-primary-dark: #3c60fc;
    --color-secondary-dark: #6380fd;
    --heading-details: #c4c6cc;
    --black-tint: #5a5a5b;
    --background-dark: #131315;
    --soft-gray: #e8e8e8;
    --white: #f5f7ff;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background-color: var(--background-dark);
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-primary-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary-dark);
}

@media (max-width: 1065px) {
    html {
        font-size: 60%;
    }
}
@media (max-width: 950px) {
    html {
        font-size: 55%;
    }
}
