.main-container {
  display: flex;
  align-items: center;
  height: 100vh;
}
main {
  height: 100vh;
  max-height: 791px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm);
}
.nav-links {
  display: flex;
  gap: var(--spacing-sm);
}
.icon {
  color: var(--gray-400);
  transition: 0.1s all ease;
}
.icon:hover {
  transform: scale(1.1);
  color: var(--color-white);
}
header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
  padding-inline: var(--padding-xl);
  padding-top: var(--spacing-smd);
}
@media (max-width: 768px) {
  header {
    padding-inline: var(--padding-sm);
  }
}
.hero-text-box {
  flex: 1 1 450px;
}
.hero-text-box p {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  padding-block: 1rem;
  padding-left: var(--padding-sm);
  color: var(--gray-400);
  border-left: 5px solid var(--color-primary);
  border-radius: 11px;
  opacity: 0;
  animation: 0.8s fadeInUp ease forwards 2s;
  user-select: none;
}
.cta-primary {
  padding: 1rem 1.8rem;
  background-color: var(--color-primary);
  border-radius: 7px;
  opacity: 0;
  animation: 0.8s fadeInUp ease forwards 4s;
}
.projects {
  font-weight: 200;
  margin-bottom: var(--padding-sm);
  opacity: 0;
  animation: 0.8s fadeInUp ease forwards 4s;
}
h2 {
  font-weight: 200;
  margin-bottom: var(--padding-sm);
}
.project-link-box {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  transition: 0.3s all ease;
  margin-bottom: 2rem;
  opacity: 0;
  animation: 0.8s fadeInUp ease forwards 4.3s;
}
.project-link-box:hover {
  transform: translateX(2%);
}
.project-link {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary) 50%,
    var(--gray-400) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.project-link:before {
  content: "";
  background: var(--color-primary);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.project-link:hover {
  background-position: 0;
}

.project-link:hover::before {
  width: 100%;
}

.copyright {
  text-align: end;
  padding-right: var(--padding-sm);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ---------DRAWER--------------- */

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(11px);
}
.encoche {
  margin-bottom: 2rem;
  border-top-right-radius: 9999px;
  border-top-left-radius: 9999px;
  width: 9rem;
  height: 0.5rem;
  background-color: #000;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding: var(--padding-xs);
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  background-color: #21242a;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: var(--spacing-sm);
  align-items: center;
}
.content-box > * {
  flex: 1 1 400px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 11px;
}
.content-text {
  display: flex;
  flex-direction: column;
}
.content-text p {
  color: var(--gray-400);
  padding-bottom: var(--spacing-xs);
}
.link-box {
  display: flex;
  gap: var(--spacing-xs);
}
